html,
body {
  max-width: 100%;
  overflow-x: hidden;
  background-image: url("https://wallpaperaccess.com/full/1924578.jpg");
  background-attachment: fixed;
}

* {
  margin: 0;
  padding: 0;
}

span {
  background-color: #3fc1c9;
  color: white;
  border-radius: 5px;
  padding: 2px;
}
h2 {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  padding-left: 1rem;
}
.title {
  margin: 0.5rem;
  text-align: center;

  border-radius: 8px;
  box-shadow: 1px 3px 2px 2px #3fc1c9;
}
h4 {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
}
h3 {
  font-family: "Montserrat", sans-serif;
}
p {
  font-family: "Poppins", sans-serif;
  padding: 0.2rem;
}

a:link {
  text-decoration: none;
  color: #ffff;
}

a:hover {
  color: #ffff;
  background-color: transparent;
}

Link {
  text-decoration: none;
}

.btn-margin {
  margin-left: 0.5rem;
  font-weight: bold;
  font-family: "Poppins", sans-serif;
}

.block-icon-academics {
  border-radius: 50%;
  margin-left: 5rem;
  margin-top: 5rem;
  padding: 2rem;
  color: #d7385e;
}
.block-icon-blogs {
  border-radius: 50%;
  margin-left: 5rem;
  margin-top: 5rem;
  padding: 2rem;
  color: #03c4a1;
}
.block-icon-social {
  border-radius: 50%;
  margin-left: 5rem;
  margin-top: 5rem;
  padding: 2rem;
  color: #726a95;
}
.block-icon-shop {
  border-radius: 50%;
  margin-left: 5rem;
  margin-top: 5rem;
  padding: 2rem;
  color: #7579e7;
}

.block-img {
  border-radius: 50%;
  border: 3px solid #3fc1c9;
  margin-top: 4rem;
  margin-left: 4rem;
  box-shadow: 3px 7px #3fc1c9;
}

.block-about {
  margin-top: 3rem;
  padding: 2rem;
  font-weight: 600;
  letter-spacing: 1px;
}

.footer {
  left: 0;
  bottom: 0;
  width: 100%;
  height: 3rem;
  color: white;
  text-align: center;
  background-color: #41aea9;
}
.footer-text {
  color: #ffff;
  font-weight: 550;
  letter-spacing: 1.5px;
}

/* 
.carousel-item {
  height: 400px;
} */

/*.item-img {
    position: absolute;
    top: 0;
    left: 0;
    min-height: 300px;
} */
